.alert {
    padding: 10px;
    display: none;
}
.btn {
    margin-bottom: 20px;
}
body {
    padding-top: 50px;
}
#main-container {
    padding: 50px 20px;
}
.user-form {
    padding: 15px;
}

#searchMBTAContainer {
	display: none;
}

#map-canvas {
	box-shadow: 0px 0px 2px #2AA5DF;
	height: 400px;
	display: none;
}

#home_menu, #signout_menu {
	display: none;
}